extends ../layouts/base.pug

block head 
    link(rel="stylesheet", href="/css/product.css")
    title Edit Product

block body
    main
        form.product-form(action="/admin/edit-product", method="post")
            div.form-control
                label(for="title") Title
                input#title(type="text", name="title", required)

            button(type="submit") Edit Product